/* ******* R E S E T    C S S ********* */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; direction: ltr; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; font-smooth: always;}
::-moz-selection { background: #fdfdfd; color: #000; text-shadow: none; }
::selection { background: #fdfdfd; color: #000; text-shadow: none; }

/*-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 /* font: inherit; */
 vertical-align: baseline;
 -webkit-tap-highlight-color: transparent; /* zastępuję pseudoklasę :active dla androida; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 display: block;
}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
body {
 line-height: 1;
}
/*ol, ul {
 list-style: none;
}
*/
blockquote, q {
  quotes: "\201E" "\201D" ' « ' ' » ';
}
blockquote:before, q:before {
  content: open-quote;
}
blockquote:after, q:after {
  content: close-quote;
}
table {
 /* border-collapse: collapse; */
 border-spacing: 0;
}
/* Placeholder */
::-webkit-input-placeholder {
   color: #333;
   opacity: 0.9;
}
:-moz-placeholder { /* Firefox 18- */
   color: #333;
   opacity: 0.9;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #333;
   opacity: 0.9;  
}
:-ms-input-placeholder {  
   color: #333;
   opacity: 0.9;  
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input:focus {
  outline: none;
}

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}


