@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Kanit:300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext");
html, body {
  font: normal 16px/1.3 "Kanit", "Arial", sans-serif;
  min-height: 100%; }

body {
  height: 100%; }

a, input, button, img {
  border: 0;
  outline: 0; }
  a:focus, a:active, input:focus, input:active, button:focus, button:active, img:focus, img:active {
    border: 0;
    outline: 0; }

.bss-map {
  background: url(../images/map2.jpg) center top no-repeat;
  transition: transform .3s; }

.bss-mobile {
  display: none; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

nav {
  text-align: left;
  padding: 5px 160px;
  position: relative; }

#bsstour img {
  width: 190px;
  margin-top: 15px; }

#lang {
  float: right;
  padding-top: 20px; }
  #lang a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: #fff;
    color: #322f31;
    font-family: 'Open Sans';
    font-size: 8px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #322f31;
    font-weight: 700;
    -webkit-transition: all .3s;
    transition: all .3s; }
    #lang a:hover, #lang a.act {
      border-color: transparent;
      background: #322f31;
      color: #fff; }
    #lang a:hover {
      text-decoration: none; }

.bss-tour {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  left: 0; }

.bss-map {
  position: relative;
  opacity: 0;
  -webkit-animation: show .9s ease .6s 1 forwards;
  animation: show .9s ease .6s 1 forwards; }
  .bss-map .container {
    min-height: 100vh;
    position: relative; }

.not-action {
  cursor: default; }

#proprogressio-logo {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 10001; }
  #proprogressio-logo img {
    width: 120px;
    vertical-align: middle; }

.city-point {
  background: #e0b618;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-animation: show .9s ease 1.7s 1 forwards;
  animation: show .9s ease 1.7s 1 forwards; }
  .city-point-top-position {
    z-index: 90; }
  .city-point.history {
    background: #8f8f8f; }
    .city-point.history .city-detail figure {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  .city-point:hover .city-detail figure {
    pointer-events: none;
    opacity: 1; }
  .city-point a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15; }
  .city-point[data-city=trojmiasto] {
    left: 532px;
    top: 114px; }
  .city-point[data-city=bydgoszcz] {
    left: 492px;
    top: 293px; }
    .city-point[data-city=bydgoszcz] .city-detail {
      left: -135px; }
  .city-point[data-city=lublin] {
    left: 835px;
    top: 453px; }
    .city-point[data-city=lublin] .city-detail-right-top {
      right: -121px; }
  .city-point[data-city=poznan] {
    left: 427px;
    top: 339px; }
    .city-point[data-city=poznan] .city-detail {
      left: -126px; }
  .city-point[data-city=opole] {
    left: 506px;
    top: 551px; }
    .city-point[data-city=opole] .city-detail {
      left: -113px; }
  .city-point[data-city=rzeszow] {
    left: 782px;
    top: 605px; }
  .city-point[data-city=warszawa] {
    left: 710px;
    top: 365px; }
  .city-point[data-city=szczecin] {
    left: 270px;
    top: 205px; }
    .city-point[data-city=szczecin] .city-detail {
      left: -126px; }
  .city-point[data-city=olsztyn] {
    left: 690px;
    top: 190px; }
    .city-point[data-city=olsztyn] .city-detail-right-top {
      right: -122px; }
  .city-point[data-city=lodz] {
    left: 598px;
    top: 411px; }
    .city-point[data-city=lodz] .city-detail {
      left: -113px; }
  .city-point[data-city=kielce] {
    left: 698px;
    top: 521px; }
    .city-point[data-city=kielce] .city-detail {
      left: -113px; }
  .city-point[data-city=katowice] {
    left: 578px;
    top: 600px; }
    .city-point[data-city=katowice] .city-detail {
      left: -132px; }
  .city-point[data-city=wroclaw] {
    left: 438px;
    top: 480px; }
    .city-point[data-city=wroclaw] .city-detail {
      left: -132px; }
  .city-point[data-city=zielona-gora] {
    left: 328px;
    top: 390px; }
  .city-point[data-city=bialystok] {
    left: 854px;
    top: 265px; }
    .city-point[data-city=bialystok] .city-detail {
      left: -132px; }

.city-line {
  position: absolute;
  width: 4px;
  background: url(../images/border.png);
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  opacity: 0;
  -webkit-animation: show .9s ease 2.8s 1 forwards;
  animation: show .9s ease 2.8s 1 forwards; }
  .city-line.history {
    background: url(../images/border-history.png); }
  .city-line[data-line='bydgoszcz-trojmiasto'] {
    left: 521px;
    top: 114px;
    height: 188px;
    transform: rotate(13deg);
    -webkit-animation: show .9s ease 2.8s 1 forwards, border-down-move 2s linear 65 forwards;
    animation: show .9s ease 2.8s 1 forwards, border-down-move 2s linear 65 forwards; }
  .city-line[data-line='trojmiasto-opole'] {
    left: 528px;
    top: 114px;
    height: 445px;
    transform: rotate(3.4deg); }
  .city-line[data-line='bydgoszcz-poznan'] {
    left: 439px;
    top: 114px;
    height: 107px;
    transform: rotate(47deg); }
  .city-line[data-line='lublin-bydgoszcz'] {
    left: 663px;
    top: 186px;
    height: 385px;
    transform: rotate(-64deg);
    -webkit-animation: show .9s ease 2.8s 1 forwards, border-down-move 2s linear 65 forwards;
    animation: show .9s ease 2.8s 1 forwards, border-down-move 2s linear 65 forwards; }
  .city-line[data-line='opole-poznan'] {
    left: 473px;
    top: 343px;
    height: 221px;
    transform: rotate(-22deg); }
  .city-line[data-line='poznan-rzeszow'] {
    left: 603px;
    top: 252px;
    height: 447px;
    transform: rotate(-52deg); }
  .city-line[data-line='rzeszow-warszawa'] {
    left: 753px;
    top: 371px;
    height: 246px;
    transform: rotate(-18deg); }
  .city-line[data-line='warszawa-trojmiasto'] {
    left: 589px;
    top: 139px;
    height: 303px;
    transform: rotate(-36deg); }

.city-detail {
  max-width: 183px;
  height: 60px;
  position: absolute;
  left: -160px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none; }
  .city-detail a {
    pointer-events: auto; }
  .city-detail-top {
    left: 50%;
    top: -33px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .city-detail-right {
    left: auto;
    right: -153px;
    top: 45px; }
    .city-detail-right-top {
      left: auto;
      right: -153px;
      top: 15px; }
  .city-detail figure {
    width: 153px;
    height: 113px;
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: -168px;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .city-detail figure img {
      max-width: 100%;
      position: relative;
      z-index: 200; }
    .city-detail figure .bss-date {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 20px;
      z-index: 300; }
  .city-detail i {
    font-size: 30px;
    position: absolute;
    left: 50%;
    bottom: -21px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #3b7cc0; }

.city-txt {
  text-align: center;
  font-size: 14px; }
  .city-txt strong {
    font-size: 20px; }

.bss-ctn {
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 40px 20px;
  top: 647px;
  display: none; }
  .bss-ctn h1 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0; }
  .bss-ctn h2 {
    font-weight: 400;
    font-size: 14px; }

footer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #322f31;
  padding: 20px 0 10px;
  z-index: 56;
  color: #fff;
  font-size: 11px; }
  footer img {
    display: inline-block;
    margin-left: 6px;
    vertical-align: bottom;
    width: 70px; }
  footer .copy {
    text-align: right; }
  footer a {
    color: #fff;
    text-decoration: none; }
    footer a:hover {
      text-decoration: none;
      color: #fff; }

.bss-text {
  position: fixed;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  transition: all .3s;
  border-right: 1px solid #e0b618; }
  .bss-text .bss-ctn {
    position: static;
    padding: 120px 40px;
    box-sizing: border-box;
    -webkit-transform: none;
    transform: none;
    max-width: 100%;
    width: 100%;
    display: block; }

.overlay {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  pointer-events: none;
  opacity: 0;
  transition: all .3s; }

#close {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  padding: 5px;
  background: none;
  border: 0;
  color: #e0b618; }

.read-open {
  overflow: hidden; }
  .read-open .bss-text {
    left: 0; }
  .read-open .overlay {
    opacity: .4;
    pointer-events: auto; }
  .read-open .bss-map {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  .read-open #read {
    color: #000;
    background: #fff; }

#read {
  position: absolute;
  right: -160px;
  background: #fff;
  width: 160px;
  padding: 10px;
  top: 15px;
  border: 1px solid #e0b618;
  cursor: pointer;
  border-left: 0;
  background: #e0b618;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes ants {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 40px; } }
@keyframes ants {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 40px; } }
@keyframes border-up-move {
  0% {
    background-position: left 0; }
  100% {
    background-position: left 40px; } }
@keyframes border-down-move {
  0% {
    background-position: left 0; }
  100% {
    background-position: left -40px; } }
@media only screen and (min-width: 1930px) {
  .bss-map {
    background: url(../images/map.jpg) center top no-repeat; } }
@media only screen and (max-width: 1200px) {
  .point-layer {
    -webkit-transform: translate(-99px, -81px);
    transform: translate(-99px, -81px); }

  nav {
    padding: 5px 50px; }

  .bss-ctn {
    width: 80%; }

  #read {
    top: 74px; } }
@media only screen and (max-width: 992px) {
  .point-layer {
    -webkit-transform: translate(-210px, -81px);
    transform: translate(-210px, -81px); } }
@media only screen and (max-width: 768px) {
  .bss-desktop, .bss-text, .overlay {
    display: none; }

  .bss-mobile {
    display: block; }

  #proprogressio-logo {
    display: none; }

  .bss-ctn {
    position: static;
    width: 100%;
    transform: none;
    margin: 85px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block; }

  nav {
    padding: 5px 0; }

  #bsstour img {
    width: 230px; }

  #lang {
    padding-top: 14px; }
    #lang a {
      font-size: 12px;
      width: 26px;
      height: 26px;
      line-height: 24px; }

  .bss-ctn h1 {
    font-size: 26px; }
  .bss-ctn h2 {
    font-size: 12px; }

  .city-item {
    padding: 0 15px;
    position: relative;
    text-align: left;
    line-height: 1.1; }
    .city-item img {
      width: 100%; }
    .city-item a {
      color: #fff;
      text-decoration: none; }
      .city-item a:hover {
        text-decoration: none; }
    .city-item span {
      position: absolute;
      left: 40px;
      bottom: 25px;
      font-size: 20px; }
    .city-item strong {
      font-size: 25px;
      text-transform: uppercase; }

  footer {
    position: static;
    margin-top: 0;
    font-size: 13px;
    display: block; }
    footer img {
      display: block;
      margin: 10px auto;
      width: 80px; }
    footer .copy {
      text-align: center; }
    footer .col-sm-6 {
      margin-bottom: 10px; } }
@media only screen and (max-width: 480px) {
  #bsstour img {
    width: 150px; } }

/*# sourceMappingURL=style.css.map */
