@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext");
html {
  font: 400 10px/1.3 "Open Sans", arial;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

body {
  padding: 0;
  margin: 0; }

a, button, input {
  outline: none !important; }
  a:hover, a:active, a:focus, button:hover, button:active, button:focus, input:hover, input:active, input:focus {
    outline: none !important; }

input {
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; }

button {
  cursor: pointer; }

.title {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 26px; }

.section-title {
  font-size: 3.2rem;
  color: #333;
  font-weight: 400;
  margin: 30px auto; }

.section-title--s {
  font-size: 1.3rem;
  color: #999;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0; }

.section-description {
  font-size: 1.8rem;
  color: #666; }

.btn-primary--custom {
  font-size: 1.3rem;
  line-height: 1;
  margin-left: 8px;
  padding: 12px 15px 13px;
  text-transform: uppercase; }

.btn-primary--action {
  background: #ea623d;
  border-color: #ea623d; }
  .btn-primary--action:not(:disabled):not(.disabled):hover, .btn-primary--action:not(:disabled):not(.disabled):active, .btn-primary--action:not(:disabled):not(.disabled):focus {
    background: #f36a45;
    border-color: #f36a45; }

.btn__light {
  padding: 11px 25px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  margin-left: 40px;
  -webkit-transition: all .2s;
  transition: all .2s; }
  .btn__light:hover, .btn__light:active {
    background: rgba(204, 204, 204, 0.5); }

#totop {
  background: none;
  padding: 0;
  border: 0;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 16;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s;
  transition: all .3s; }

.totop #totop {
  pointer-events: auto;
  opacity: 1; }

#main-nav {
  height: 89px;
  color: #666;
  padding-left: 0;
  padding-right: 0; }
  #main-nav a {
    color: #666;
    font-family: "Open Sans";
    font-size: 1.3rem;
    font-weight: 600; }
  #main-nav .navbar-nav {
    width: 100%; }
    #main-nav .navbar-nav a {
      -webkit-transition: .2s ease;
      transition: .2s ease;
      position: relative; }
      #main-nav .navbar-nav a:hover, #main-nav .navbar-nav a:active, #main-nav .navbar-nav a.active {
        color: #333; }
        #main-nav .navbar-nav a:hover::before, #main-nav .navbar-nav a:active::before, #main-nav .navbar-nav a.active::before {
          width: 100%; }
      #main-nav .navbar-nav a::before {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        background: #ea623d;
        content: "";
        position: absolute;
        display: block;
        bottom: -5px;
        width: 0%;
        height: 2px;
        -webkit-transition: .2s ease;
        transition: .2s ease; }
  #main-nav button {
    background: none;
    padding: 0;
    border: 0;
    color: #666;
    font-size: 1.3rem;
    padding: 5px 0 0 7px; }
  #main-nav .navbar-brand {
    font-size: 1.8rem; }
    #main-nav .navbar-brand span {
      display: inline-block;
      margin-left: 10px; }

.navbar-collapse {
  background: #fff;
  z-index: 3;
  padding: 25px; }

.search-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #453951;
  height: 89px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .search-form input {
    display: block;
    width: 60%;
    padding: 6px 8px;
    font-size: 1.8rem; }
  .search-form #form-close {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: none;
    padding: 0;
    border: 0;
    color: #fff;
    position: absolute;
    right: 15px;
    -webkit-transition: all .2s;
    transition: all .2s; }
    .search-form #form-close:hover, .search-form #form-close:active {
      transform: scale(0.8) translateY(-50%);
      -webkit-transform: scale(0.8) translateY(-50%);
      -moz-transform: scale(0.8) translateY(-50%);
      -ms-transform: scale(0.8) translateY(-50%);
      -o-transform: scale(0.8) translateY(-50%); }

.open-search .search-form {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto; }

.ctn-section {
  background: #453951;
  color: #fff;
  height: 106px; }
  .ctn-section .fdark {
    color: #333; }
  .ctn-section a {
    color: #fff; }
  .ctn-section__nav--right {
    text-align: right; }
  .ctn-section__nav a {
    font-size: 1.3rem;
    display: inline-block;
    color: #fff;
    opacity: .7;
    padding: 0 3px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    font-weight: 400; }
    .ctn-section__nav a:hover, .ctn-section__nav a:active, .ctn-section__nav a.active {
      opacity: 1;
      text-decoration: none; }

.ctn-section--light, .ctn-section--light-grey, .ctn-section--dark {
  height: auto;
  background: transparent;
  padding: 50px 0; }
  .ctn-section--light img, .ctn-section--light-grey img, .ctn-section--dark img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: right top;
    -o-object-position: right top; }

.ctn-section--light-grey, .ctn-section--dark {
  background: #f5f5f5; }
  .ctn-section--light-grey img, .ctn-section--dark img {
    object-fit: none;
    -o-object-fit: none;
    width: auto;
    height: auto; }

.ctn-section--dark {
  background: #2a272e; }

.box-icons {
  margin: 45px 0;
  font-size: 1.4rem;
  color: #666; }

.col-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .col-icons__ico {
    font-size: 1.6rem;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
    color: #fff; }
    .col-icons__ico span {
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 50%;
      background: #ea623d;
      display: block; }

.expand-item {
  margin: 35px 0; }
  .expand-item:first-of-type {
    margin-top: 0; }

.expand {
  background: none;
  padding: 0;
  border: 0;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  display: block; }

.expand-description-wrap {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-size: 1.4rem;
  color: #666; }

.expand__ico {
  color: #ea623d;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  width: 17px; }
  .expand__ico i {
    position: absolute;
    left: 0;
    top: -14px;
    -webkit-transition: all .3s;
    transition: all .3s; }

.expand__hide {
  opacity: 0; }

.show .expand__hide {
  opacity: 1; }

.show .expand__show {
  opacity: 0; }

.progress {
  height: 2px;
  background: #ccc; }
  .progress-bar {
    background: #453951; }

.prog {
  margin-bottom: 23px; }
  .prog__label {
    color: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 10px; }
    .prog__label span {
      display: block;
      width: 50%; }

.slider {
  height: 260px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: center; }
  .slider .section-title:not(.section-title--s) {
    color: inherit; }
  .slider__item {
    height: 100%; }
  .slider__ctn {
    padding: 0 15%;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }

.box-item {
  margin-bottom: 30px; }
  .box-item img {
    object-position: center;
    -o-object-position: center;
    height: 100%;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .box-item__img {
    height: 280px;
    position: relative;
    overflow: hidden; }
    .box-item__img a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .box-item__img--sb {
      height: 90px; }
    .box-item__img--vsmall {
      width: 74px;
      height: 74px; }
  .box-item__description {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5; }
  .box-item__socials {
    font-size: 2rem; }
    .box-item__socials a {
      color: #999;
      display: inline-block;
      margin-right: 20px;
      -webkit-transition: all .2s;
      transition: all .2s; }
      .box-item__socials a:hover, .box-item__socials a:active {
        color: #333; }

.circle-social {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #6a6174;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 2rem;
  text-align: center;
  position: relative; }
  .circle-social:first-of-type {
    margin-left: 30px; }
  .circle-social::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  .circle-social:hover::before, .circle-social:active::before {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1); }

.form-inline {
  font-size: 1.3rem;
  color: #8f8897;
  display: inline-block;
  line-height: 1; }
  .form-inline label {
    display: inline-block; }
  .form-inline__input {
    border: 2px solid #8f8897;
    width: 200px;
    background: transparent;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 7px;
    margin: 10px 10px 10px 22px;
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .form-inline__input:focus {
      border-color: #fff;
      -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
              box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8); }
    .form-inline__input::-webkit-input-placeholder {
      color: #8f8897; }
    .form-inline__input::-moz-placeholder {
      color: #8f8897; }
    .form-inline__input:-ms-input-placeholder {
      color: #8f8897; }
    .form-inline__input:-moz-placeholder {
      color: #8f8897; }

.footer {
  font-size: 1.4rem;
  line-height: 1.8; }
  .footer__decor-text {
    color: #555258;
    margin: 22px 0; }
  .footer a {
    color: #ea623d;
    display: inline-block;
    margin-bottom: 11px;
    font-weight: 600; }
    .footer a:hover, .footer a:active {
      text-decoration: none; }
    .footer a[href^="mailto:"] {
      font-size: 1.8rem; }

.fxxs {
  font-size: 1.1rem; }

.fxs {
  font-size: 1.3rem; }

.fs {
  font-size: 1.8rem; }

.fm {
  font-size: 2rem; }

.fdark {
  color: #333; }

.fsemibold {
  font-weight: 600; }

.fupper {
  text-transform: uppercase; }

.text {
  color: #666;
  font-size: 1.4rem; }

.flightgrey {
  color: #999; }

.space-y-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.row--vc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.title--white {
  color: #fff; }

.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mr-0 {
  margin-right: 0px; }

.pt-0 {
  padding-top: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pl-0 {
  padding-left: 0px; }

.pr-0 {
  padding-right: 0px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pr-10 {
  padding-right: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.pr-20 {
  padding-right: 20px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-30 {
  padding-left: 30px; }

.pr-30 {
  padding-right: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pl-40 {
  padding-left: 40px; }

.pr-40 {
  padding-right: 40px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.mr-50 {
  margin-right: 50px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.pl-50 {
  padding-left: 50px; }

.pr-50 {
  padding-right: 50px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.ml-60 {
  margin-left: 60px; }

.mr-60 {
  margin-right: 60px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.pl-60 {
  padding-left: 60px; }

.pr-60 {
  padding-right: 60px; }

.op-0 {
  opacity: 0; }

.op-1 {
  opacity: 0.1; }

.op-2 {
  opacity: 0.2; }

.op-3 {
  opacity: 0.3; }

.op-4 {
  opacity: 0.4; }

.op-5 {
  opacity: 0.5; }

.op-6 {
  opacity: 0.6; }

.op-7 {
  opacity: 0.7; }

.op-8 {
  opacity: 0.8; }

.op-9 {
  opacity: 0.9; }

.op-10 {
  opacity: 1; }

.l-h100 {
  height: 100%; }

.ha {
  height: auto; }

@media (max-width: 1170px) {
  .form-inline {
    text-align: center;
    display: block; }
    .form-inline__input {
      display: block;
      margin-left: 0;
      margin-left: auto;
      margin-right: auto; }
  .btn-primary--action {
    margin-left: 0; }
  .circle-social {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.6rem; }
  .footer {
    text-align: center; }
    .footer .box-item {
      margin: 0 0 15px; }
    .footer .box-item__img--vsmall {
      width: 100%; } }

@media (max-width: 1024px) {
  #totop {
    right: 15px;
    bottom: 15px; }
    #totop img {
      width: 40px; }
  .footer {
    font-size: 1.2rem; } }

@media (max-width: 768px) {
  .title {
    margin-bottom: 15px; }
    .title:not(.no-margin-top) {
      margin-top: 20px; }
  .box-icons {
    margin: 15px 0; }
  .section-title:not(.section-title--s) {
    font-size: 1.8rem; }
  .box-item__img {
    height: 180px; }
  .btn__light {
    display: block;
    margin: 15px 0; }
  .circle-social {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem; }
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px; }
    .search-form input {
      margin-bottom: 10px; }
  .form-inline {
    text-align: center; } }

@media (max-width: 540px) {
  .ctn-section {
    text-align: center; }
    .ctn-section__nav {
      text-align: center; }
  .row--vertical-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .slider {
    width: 80%; }
  .circle-social {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    display: block;
    margin: 20px auto; }
    .circle-social:first-of-type {
      margin: 20px auto; } }
