<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/mobile-nav-1.css">
</head>
<body>
    
    <div class="x-m-top x-m-top__scroll-top">
        <div class="x-m-top__home x-fb-10">
            <a href=""><img src="https://cdn-images-1.medium.com/fit/c/120/120/1*iEkhDZiJacvKz5nRV134VA.png" alt=""></a>
        </div>
        <nav class="x-m-nav x-fb-90 x-right">
            <a href="" class="x-m-nav__link">Link 1</a>
            <a href="" class="x-m-nav__link">Link 2</a>
            <a href="" class="x-m-nav__link">Link 3</a>
            <a href="" class="x-m-nav__link">Link 4</a>
            <a href="" class="x-m-nav__link">Link 5</a>
        </nav>
        <button class="x-btn x-mob">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
                height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
            <g id="Icons" style="opacity:0.75;">
                <path id="menu" d="M6,15h12c0.553,0,1,0.447,1,1v1c0,0.553-0.447,1-1,1H6c-0.553,0-1-0.447-1-1v-1C5,15.447,5.447,15,6,15z M5,11v1
                    c0,0.553,0.447,1,1,1h12c0.553,0,1-0.447,1-1v-1c0-0.553-0.447-1-1-1H6C5.447,10,5,10.447,5,11z M5,6v1c0,0.553,0.447,1,1,1h12
                    c0.553,0,1-0.447,1-1V6c0-0.553-0.447-1-1-1H6C5.447,5,5,5.447,5,6z"/>
            </g>
            <g id="Guides" style="display:none;">
            </g>
            </svg>
        </button>
    </div>

</body>
</html>