@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=latin-ext");
@font-face {
  font-family: 'Gotham Ultra';
  src: url("../webfonts/subset-Gotham-Ultra.woff2") format("woff2"), url("../webfonts/subset-Gotham-Ultra.woff") format("woff"), url("../webfonts/subset-Gotham-Ultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../webfonts/subset-Gotham-Book.woff2") format("woff2"), url("../webfonts/subset-Gotham-Book.woff") format("woff"), url("../webfonts/subset-Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../webfonts/subset-Gotham-Bold.woff2") format("woff2"), url("../webfonts/subset-Gotham-Bold.woff") format("woff"), url("../webfonts/subset-Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.team-ctn {
  background: #000;
  padding-top: 100px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.6;
}

.team-list__item {
  margin: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.team-list__item:nth-of-type(2n+1) {
  background: #0d0d0d;
}

.team-list__category {
  flex: 0 0 35%;
  padding: 0 60px;
}

.team-info--flex {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 65%;
}

.team-info--flex figure {
  border: 0;
}

.team-info--flex .team-info__decor {
  color: #fff;
  font-family: 'Gotham Book';
  font-weight: normal;
  font-style: normal;
}

.team-info__image {
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  flex: 0 1 50%;
  transition: background-color .3s ease;
}

.team-info__image a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.team-info__image:hover {
  background-color: #e34f5f;
}

.team-info__image:hover .team-info__link {
  color: #fff;
}

.team-info__image:hover path {
  fill: #fff;
}

.team-info__link {
  font-family: 'Gotham Book';
  font-weight: normal;
  font-style: normal;
  display: block;
  font-size: 1.4rem;
  margin-top: 17px;
  text-transform: none;
  color: #e34f5f;
  transition: color .3s ease;
}

.team-info__link svg {
  display: inline-block;
  margin-left: 3px;
}

.team-info__link path {
  transition: all .3s ease;
}

.team__slider-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: .3s ease;
}

.slideropen .team__slider-overlay {
  opacity: 1;
  pointer-events: auto;
}

.slideropen .team__slider {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all .7s ease .3s;
}

.team__slider {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -280%);
  transform: translate(-50%, -280%);
  width: 60%;
  background: #fc5869;
  transition: all .6s ease 0s;
  padding: 90px 50px;
}

.team__slider button {
  position: absolute;
  transition: all .2s;
  opacity: 1;
  border: 0;
  background: none;
  cursor: pointer;
}

.team__slider .close {
  top: 28px;
  right: 28px;
}

.team__slider .prev, .team__slider .next {
  top: 50%;
  left: -65px;
}

.team__slider .next {
  left: auto;
  right: -65px;
}

.team__slider-ctn {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.team__slider-item {
  font-family: 'Gotham Book';
  font-weight: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  flex: 0 0 100%;
  transition: margin .5s ease;
}

.team__slider-item p {
  margin-bottom: 22px;
}

.team__slider-image {
  flex: 0 0 30%;
  padding-top: 10px;
}

.team__slider-image figure {
  border-radius: 50%;
  overflow: hidden;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
}

.team__slider-image img {
  max-width: 100%;
  object-fit: contain;
}

.team__slider__description {
  font-family: 'Gotham Bold';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
}

.team__slider__decor {
  font-family: 'Gotham Book';
  font-weight: normal;
  font-style: normal;
}

.contact-items p {
  font-size: 1.8rem;
}

.contact-item {
  display: inline-block;
  margin-right: 30px;
}

.contact-item a {
  display: inline-block;
  margin-left: 9px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
}

.contact-item svg {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 1280px) {
  .team__slider {
    padding: 70px 30px;
  }
  .team__slider-item {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .team__slider-image figure {
    width: 100px;
    height: 100px;
  }
  .contact-items p {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .team-ctn {
    text-align: center;
  }
  .team__slider-item {
    flex-direction: column;
  }
}
/*# sourceMappingURL=team.css.map */