@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic,400italic,700italic&subset=latin,latin-ext);
$maxWidth: 1920px;
$contentWidth: 1152px;
$black: #181818;
$font: 400 12px/1.2 'Calibri', 'Open Sans', arial, sans-serif;
$baseFontsize: 12;
$yellow: #ffed00;
@mixin centerX() {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin centerY() {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

body, html {
	font: $font;
	background: $black;
	min-height: 100%;
}

// paddingi
.col-padding {
	padding: 10px;
	&-20 {padding: 20px;}
	&-30 {padding: 30px;}
	&-40 {padding: 40px;}
}

.col-padding-x {
	padding: 0 10px;
	&-20 {padding: 0 20px;}
	&-30 {padding: 0 30px;}
	&-40 {padding: 0 40px;}
}

.col-padding-y {
	padding: 10px 0;
	&-20 {padding: 20px 0;}
	&-30 {padding: 30px 0;}
	&-40 {padding: 40px 0;}
}

.col-padding-l {
	padding-left: 10px;
	&-20 {padding-left: 20px;}
	&-30 {padding-left: 30px;}
	&-40 {padding-left: 40px;}
}

.col-padding-r {
	padding-right: 10px;
	&-20 {padding-right: 20px;}
	&-30 {padding-right: 30px;}
	&-40 {padding-right: 40px;}
	
}
// paddingi end
.fl {float: left;}
.fr {float: right;}
a,input,select,img {
	outline: none;
}

.col-center-text {
	text-align: center;
}

// page
.page {
	max-width: $maxWidth;
	margin: 0 auto;
	min-height: 100%;
	background: url(../images/page-bg.jpg) no-repeat center top;
}
// page

// top
.top {
	background: rgba(54,54,54,.4);
	font-size: 14/$baseFontsize + rem;

	> div {
		max-width: $contentWidth;
		width: auto;
		height: 100%;
		margin: 0 auto;
	}

	.logo {
		height: 94px;
		text-align: left;
		padding: 9px 0 0 20px;
	}

	.nav {
		height: 94px;
		text-align: right;
		line-height: 1;
		padding-top: 35px;
	}


	a {
		font-weight: 700;
		color: #fff;
		display: inline-block;
		text-transform: uppercase;
		padding: 7px 17px;
		text-decoration: none;
		-webkit-transition: color 150ms ease 0ms;
		transition: color 150ms ease 0ms;

		&:hover, &.act {
			color: $yellow;
		}
	}
}
.panel .top {
	background: #fff;

	a {
		color: #9c9c9c;

		&:hover, &.act {
			color: #000;
		}
	}
}
// top end

// slider
.slider-container {
	height: 219px;
	overflow: hidden;
	text-align: left;
	font-weight: 700;

	h2 {
		font-size: 32/$baseFontsize+rem;
		font-weight: 700;
		color: #fff;
		margin-top: 4px;
	}

	p {
		color: #fff;
		font-size: 13/$baseFontsize+rem;
	}

	figure, header {
		height: 100%;
		position: relative;

		img, > div {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			max-width: 100%;
		}

		> div {
			left: 15px;
			@include centerY();
		}
	}
}

.slider {
	height: 219px;
}

.slider-content {
	margin: 0 auto;
	height: 219px;
	position: relative;
}

.slider-item {
	width: 100%;
	max-width: 860px;
	height: 219px;
	margin: 0;
	@include centerX();

}
// slider

// content
.page-content {
	background: rgba(0,0,0,.76);
	text-align: left;
	padding: 40px 0;
	color: #fff;
	font-size: 14/$baseFontsize+rem;

	.panel-title-header + & {
		padding-top: 0;
	}
}
// content

// inputs 
.input-step {
}

.input-step-item {
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 33%;
	padding-right: 6px;
}

.input-step-label, .panel-item-label {
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 13px;
	font-weight: 700;
	padding: 4px 0 0;
	font-size: 15/$baseFontsize+rem;

	&.show-ico {
		background: url(../images/ok-ico.png) no-repeat 98% top;
	}
}

.panel-item-label {
	font-size: 14/$baseFontsize+rem;
	text-transform: none;
}

.center-label {
	text-align: center;
}

.input-step-graph {
	height: 10px;
	border: 1px solid #9b9b9b;
	border-radius: 4px;

	&.act {
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 93%;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 2px;
			background: $yellow;
		}
	}
}

.form-input {
	margin-top: 44px;

	> div {
		display: none;
		overflow: hidden;

		&[data-step='1'] {
			display: block;
		}
	}

	fieldset {
		border: 0;
		margin: 0;
		overflow: hidden;
	}

	input {
		&::-webkit-input-placeholder {color: #fff;}
		&:-moz-placeholder {color: #fff;}
		&::-moz-placeholder {color: #fff;}
		&:-ms-input-placeholder {  color: #fff;}
	}
}

.form-input-label {
	font-weight: 700;
	font-size: 15/$baseFontsize+rem;
	margin-bottom: 13px;
	line-height: 1;
}

.form-input-border, .credits-panel, .link-action, .recomm-task, .faq-panel, .btn-tab {
	padding: 6px;
	border-radius: 7px;
	border: 1px solid #959595;
}

.form-input-conrol, .credits-panel, .link-action, .recomm-task, .faq-panel, .btn-tab {
	margin-bottom: 25px;
	font-weight: 700;
}

.link-action {
	display: inline-block;
	overflow: hidden;
	margin: 20px 15px 0;
	padding: 6px;

	a {
		text-decoration: none;
		color: #fff;
		display: inline-block;
		height: 100%;
		padding: 10px 47px;
		border-radius: 6px;
	}
	.link-yellow {
		color: #3a3a39;
		background: $yellow;
	}
	.link-yellow-text {
		color: $yellow;
	}
}

.add .link-action {
	margin-top: 0;
}

.recomm-task {
	overflow: hidden;
	font-size: 16/$baseFontsize+rem;
	font-weight: 700;
	vertical-align: middle;
	padding: 10px;
	span {
		display: inline-block;
		padding: 10px 0 0 13px;
	}
	a {
		display:inline-block;
		float: right;
		padding: 12px 38px;
		color: #3e3e3e;
		background: #fff;
		border-radius: 6px;
		text-decoration: none;
	}
}

.form-input-radio {
	height: 46px;
	overflow: hidden;
	position: relative;
	input {
		position: absolute;
		z-index: -1;
		visibility: hidden;

		&:checked + label {
			background: $yellow;
			color: #3a3a39;
		}
	}

	label {
		background: transparent;
		display: block;
		float: left;
		width: 50%;
		border-radius: 6px;
		color: #fff;
		padding: 14px 0 15px;
		text-align: center;
		-webkit-transition: background 150ms ease 0ms;
		transition: background 150ms ease 0ms;
	}
}

.form-input-select {
	height: 46px;
	overflow: hidden;
	background: url(../images/select.png) no-repeat 98% center;
	select {
		display: block;
		width: 100%;
		border: 0;
		background: none;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		padding: 13px 0;
	}
	option {
		-webkit-appearance:none;
		appearance:none;
		background: $black;
	}
}

.form-input-date {
	height: 46px;
	overflow: hidden;
	background: url(../images/calendar.png) no-repeat 98% center;
	input {
		display: block;
		border: 0;
		background: 0;
		padding: 14px 0;
		width: 100%;
	}
}

.form-input-int, .form-input-text, .panel-item-name, .panel-item-value, .form-input-textarea {
	height: 46px;
	overflow: hidden;
	background: url(../images/text-input-bg.png) no-repeat 98% center;
	input {
		display: block;
		border: 0;
		background: 0;
		padding: 14px 0;
		width: 100%;
	}
}

.form-input-textarea {
	background-position: 98% 6px;
	height: 140px;
	textarea {
		display: block;
		width: 100%;
		height: 140px;
		background: none;
		resize: none;
		border: 0;
		padding-right: 50px;
	}
}

.panel-item-name, .panel-item-value {
	height: 40px;
	text-align: center;
	background: none;
	color: $yellow;
	position: relative;
	line-height: 1;
	font-size: 13/$baseFontsize+rem;

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		display: block;
		width: 100%;
	}
}

.panel-item-value {
	font-size: 21/$baseFontsize+rem;
}

#chrome .form-input-int, #chrome .form-input-text {
	input {
		// padding: 11px 0 12px;
	}
}

.form-input-control-next {
	float: right;
	button, a {
		height: 46px;
		padding: 13px 50px;
		border: 0;
		background: $yellow;
		border-radius: 6px;
		color: #3a3a39;
	}
	a {
		height:auto;
		color: $yellow;
		background: none;
		padding: 15px 9px;
		text-decoration: none;
		line-height: 1;
		display: inline-block;
	}
}

.form-input-btn, .form-input-link {
	height: 46px;
	overflow: hidden;
}

.no-float {
	float: none;
	display: inline-block;
	text-align: center;
}

.step-end-title {
	font-size: 36/$baseFontsize+rem;
	text-align: center;
	margin: 40px 0;

	strong {
		color: $yellow;
	}
}

.agreed {
	font-size: 10/$baseFontsize+rem;
	padding: 8px 0 0 20px;
	position: relative;

	input {
		position: absolute;
		z-index: -1;

		&:checked {
			+ label span {
				&:before {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					background: $yellow;
					position: absolute;
					left: 0;
					bottom: 0;
					top: 0;
					right: 0;
					margin: auto;
					border-radius: 2px;
				}
			}
		}
	}

	label {
		position: relative;
		padding-left: 21px;
		display: block;
		span {
			display:inline-block;
			margin-right: 4px;
			width: 16px;
			height: 16px;
			border: 1px solid #949494;
			border-radius: 4px;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: -1px;
		}
	}
}

.logos {
	clear: both;
	padding: 15px 0 0 15px;

	img {
		display: inline-block;
		margin-right: 4px;
		mix-blend-mode: lighten;
	}
}
// inputs END 

// aside slider
aside {
	overflow: hidden;
}
.aside-slider-items {
	padding: 20px 10px 53px;
	border-radius: 6px;
	border: 1px solid #a4a4a4;

	.slick-prev, .slick-next {
		width: 28px;
		height: 27px;
		background: transparent url(../images/aside-slide-prev.png) no-repeat;
		bottom: 0;
		right: 45px;
		left: auto;
		top: auto;

		&:after, &:before {
			content: '';
		}
	}

	.slick-next {
		background: transparent url(../images/aside-slide-next.png) no-repeat;
		right: 10px;
	}

	h3 {
		margin: 0 15px 15px 0;
		padding-right: 40px;
		font-size: 21/$baseFontsize+rem;
		font-style: italic;
		overflow: hidden;
		height: 48px;
		background: url(../images/aside-slider-ico.png) no-repeat right 5px;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	figcaption {
		margin-top: 14px;
		font-size: 12/$baseFontsize+rem;
		overflow: hidden;
		max-height: 59px;
	}
}
// aside slider END
// zadaj pytanie
.aside-q {
	fieldset {
		border: 0;
	}
	h3 {
		 font-size: 18/$baseFontsize+rem;
		 color: $yellow;
		 font-weight: 700;
		 margin: 0 0 25px;
	}
}
.btn-action {
	text-align: center;
	font-size: 11/$baseFontsize+rem;
	> div {
		display: inline-block;
		float: none;
		vertical-align: middle;

		&:last-of-type {
			margin-left: -4px;
		}
	}
	.form-input-border {
		margin-bottom: 0;
	}
	.form-input-btn, button {
		font-size: 14/$baseFontsize+rem;
		font-weight: 700;
	}
}
// zadaj pytanie END
// footer
.footer {
	font-size: 1rem;
	padding: 50px 0;
	background: $black;
	text-align: left;
	h4 {
		font-size: 1rem;
		color: $yellow;
		font-weight: 700;
		margin-bottom: 2px;
	}

	a {
		color: #fff;
		text-decoration: none;
		display: block;
	}
	.link-off {
		color: #5d5d5d;

		a {
			display: inline-block;
		}
	}
}
// footer END
// wyniki
.result {
	h4 {
		font-weight: 700;
		font-size: 33/$baseFontsize+rem;
		margin: 10px 0 55px;
	}

	h5 {
		font-size: 1.6rem;

		strong {
			color: $yellow;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	canvas {
		margin: 0 auto;
		display: block;
	}
}

.finarena-rank {
	margin: 25px 0;
}

.finarena-range {
	> div, span {
		display: inline-block;
		vertical-align: middle;
	}

}

.finarena-start, .finarena-end {
	width: 43px;
	height: 59px;
	background: url(../images/finarena0.png) no-repeat;
}

.finarena-end {
	background: url(../images/finarena100.png) no-repeat;
}

.range-bar-container {
	width: 50%;
	margin: -15px 10px 0;
}

.range-position {
	display: inline-block;
	width: 54px;
	height: 42px;
	background: url(../images/finarena-rank.png) no-repeat;
	position: absolute;
	right: -64px;
	top: -17px;
}

.range-value {
	width: 0;
	-webkit-transition: width 820ms ease 230ms;
	transition: width 820ms ease 230ms;
	height: 6px;
	background: $yellow;
	border-radius: 4px;
	position: relative;
}

.range-other {
	height: 2px;
	width: 82%;
	background: #777777;
	float: right;
	position: relative;
	top: 9px;
	-webkit-transition: width 820ms ease 230ms;
	transition: width 820ms ease 230ms;
}

// wyniki END

// panel logowania/rejestracji
.auth-panel {
	border-radius: 6px;
	border: 1px solid #9a9a9a;
	padding: 32px;
	text-align: center;
	margin: 0 auto;
	width: 92%;
	max-width: 440px;

	h2 {
		font-size: 36/$baseFontsize+rem;
		font-weight: 700;
		margin: 0;
	}

	input {
		font-size: 1rem;
		display: block;
		width: 100%;
		margin: 24px 0;
		padding: 17px;
		border: 0;
		border-radius: 6px;
	}

	fieldset {
		border: 0;
		color: #000;
	}

	img {
		max-width: 100%;
	}

	button {
		padding-right: 22px;
		padding-left: 22px;
	}

	.form-input-border, .credits-panel, .faq-panel {
		margin: 0;
	}

	.row {
		margin: 20px 0 0;
	}
}

.col-action {
	display: inline-block;
	vertical-align: middle;
	float: none;

	&:nth-of-type(2) {
		margin-left: -4px;
	}

	&:nth-of-type(odd) {
		padding-left: 0;
		padding-right: 0;
	}

	&:nth-of-type(even) {
		padding-left: 28px;
		padding-right: 1px;
	}

	span {
		font-size: 11/$baseFontsize+rem;
		color: #fff;
	}
}
// panel logowania/rejestracji END

// panel
.panel-title-header {
	background: rgba(0,0,0,.76);
	text-align: left;
	color: #fff;
	padding: 47px 0 16px;
	position: relative;

	.container {
		position: relative;
	}
}
.panel-title {
	font-size: 36/$baseFontsize+rem;
	font-weight: 700;
	margin: 0;
}

h1.panel-title {
	margin-bottom: 42px;
}

h2.panel-title {
	font-size: 16/$baseFontsize+rem;
}

.panel-user {
	font-size: 16/$baseFontsize+rem;
	position: absolute;
	right: 31px;
	top: -27px;

	strong {
		color: $yellow;
	}
}

.credits-panel, .faq-panel {
	height: 53px;
	overflow: hidden;
	h3 {
		margin: 0;
		line-height: 1;
		font-size: 13/$baseFontsize+rem;
		padding: 13px 21px;
		vertical-align: middle;
		cursor: pointer;
		overflow: hidden;
		background: url(../images/look.png) no-repeat 98.7% 8px;

		&.recomm-title, &.faq-title {
			background: none;
			border-bottom: 1px solid #959595;
			height: 46px;
			padding-left: 0;
			padding-right: 0;
			margin: 0 21px;
		}

		.general-value {
			color: $yellow;
			font-weight: 700;
			font-size: 30/$baseFontsize+rem;
			float: right;
			position: relative;
			top: -8px;
		}

		strong {
			text-transform: uppercase;
			color: $yellow;
		}
	}
	&:hover, &.act {
		h3 {
			background-position: 98.7% -67px;
		}

	}

	&.act {
		height: auto;
	}
}

.faq-panel {
	h3 {
		background-image: none;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 22px;
			height: 22px;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-60%);
			transform: translateY(-60%);
			background: url(../images/select.png) no-repeat;
			-webkit-transition: transform 450ms ease 0ms;
			transition: transform 450ms ease 0ms;
		}
	}

	&.act {
		h3 {
			&:after {
				-webkit-transform: translateY(-50%) rotate(180deg);
				transform: translateY(-50%) rotate(180deg);
			}
		}

	}
}

.credit-detail, .faq-detail {
	padding: 20px 21px;

	canvas {
		margin: 30px auto;
		display: block;
	}
}
// panel END
// rekomendacje
.recomm-slider {
	border: 1px solid #959595;
	border-radius: 6px;
	padding: 4px 15px 40px;
	font-size: 16/$baseFontsize+rem;
	
	h4 {
		font-weight: 700;
		padding: 0;
		margin-bottom: 4px;
	}

	h5 {
		text-align: right;
		margin-top: 1px;
		padding: 0;
		margin-bottom: 4px;
	}

	header {
		border-bottom: 1px solid #959595;
		margin: 0 5px;
		padding-bottom: 5px;
	}

	.slick-dots {
		width: 90%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		bottom: 15px;
		li {
			button {
				display: inline-block;
				width: 18px;
				height: 18px;
				border: 1px solid #969696;
				border-radius: 4px;
				&:before {
					content: '';
				}
			}

			&.act {
				button {
					border-color: $yellow;
					position: relative;
					&:before {
						content: '';
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 2px;
						position: absolute;
						left: 50%;
						top: 50%;
						-webkit-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
						margin: auto;
						background: $yellow;
						opacity: 1;
					}
				}
			}

			&.slick-active {
				button {
					border-color: $yellow;
				}
			}
		}
	}

	.slick-prev, .slick-next {
		width: 28px;
		height: 27px;
		left: 18px;
		z-index: 1000;
		background: transparent url(../images/aside-slide-prev.png) no-repeat;

		&:after, &:before {
			content: '';
		}
	}

	.slick-next {
		background: transparent url(../images/aside-slide-next.png) no-repeat;
		left: auto;
		right: 18px;
	}

}
.recomm-large-value, .recomm-value-step {
	font-size: 30/$baseFontsize+rem;
	letter-spacing: -2px;
}

.recomm-value-step {
	color: $yellow;
}

.recomm-slider-text {
	text-align: center;
	h2 {
		color: $yellow;
		font-size: 31/$baseFontsize+rem;
		font-weight: 700;
		margin: 30px 0;
	}

	h4 {
		font-size: 16/$baseFontsize+rem;
		margin: 30px 0;
	}

	p {
		font-weight: 400;
		font-size: 11/$baseFontsize+rem;
		text-align: left;
		margin: 14px 50px;
	}
	a {
		color: $yellow;
		text-decoration: none;
	}
}
.recomm-done {
	display: inline-block;
	border: 1px solid $yellow;
	border-radius: 6px;
	font-weight: 700;
	padding: 13px 45px;
	margin: 35px 0;
}
// rekomendacje END
// faq
.faq-title {
	font-style: italic;
}
.faq-text {
	font-size: 11/$baseFontsize+rem;
	font-weight: 400;
}
// faq END
// tab
.tabs {
	margin: 0;

	div[class*='col-'] {
		padding: 0;
	}

	button {
		background: transparent;
		color: #fff;
		border: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		border-radius: 4px;
		-webkit-transition: 200ms ease 0ms;
		transition: 200ms ease 0ms;
		padding-top: 4px;
		padding-bottom: 4px;

		&:hover, &.act {
			background: $yellow;
			color: $black;
		}
	}
}
.btn-tab {
	display: inline-block;
	width: 23.5%;
	margin-right: 1.4%;

	&:last-of-type {
		margin-right: 0;
	}

	.form-input-btn {
		height: 40px;
	}
}
.tab-target {
	display: none;
	&[data-tab-target='1'] {
		display: block;
	}

	h4 {
		font-size: 16/$baseFontsize+rem;
		text-transform: uppercase;
		font-weight: 700;
	}

	h5 {
		font-size: 1rem;
		margin: 2px 0 5px;
	}

	p {
		font-size: 11/$baseFontsize+rem;
	}

	a {
		color: $yellow;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1rem;
	}
}
.doc-item {
	background: url(../images/doc-ico.png) no-repeat 15px top;
	min-height: 68px;
	padding-left: 90px;
	margin: 13px 0;
}

.link-item {
	a {
		display: block;
		padding: 15px 27px;
		color: #fff;
		text-decoration: none;
		font-size: 14/$baseFontsize+rem;
		text-transform: none;
		font-weight: 400;
		border-radius: 6px;
		border: 1px solid #949494;
		margin: 15px 0;
		background: url(../images/link-ico.png) right 6px no-repeat;
		line-height: 1;
	}

}
// tab END

// modal
.open-modal {
	overflow: hidden;

	.page {
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}
}
.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #000;
	background: rgba(0,0,0,.6);
	z-index: 999;
}

.modal-content {
	width: 33%;
	max-width: 670px;
	min-height: 300px;
	padding: 25px 0;
	background: $yellow;
	color: $black;
	border-radius: 9px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-270%);
	transform: translate(-50%,-270%);
	opacity: 0;
	-webkit-animation: showModal 520ms linear 400ms 1 forwards;
	animation: showModal 520ms linear 400ms 1 forwards;
}
// modal END

@keyframes showModal {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%,-270%);
		transform: translate(-50%,-270%);
	} 60% {
		opacity: .6;
		-webkit-transform: translate(-50%,-100%);
		transform: translate(-50%,-100%);
	} 100% {
		opacity: 1;
		-webkit-transform: translate(-50%,-100%);
		transform: translate(-50%,-100%);
	}
}




























@media only screen and(max-width: 992px){
	.input-step-item {
		display: block;
		width: 82%;
		margin: 12px auto;
	}

	.input-step-graph {
		&.act {
			&:after {
				width: 98%;
			}
		}
	}

	.form-input {
		fieldset {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	aside {
		margin: 45px auto;
	}
}

@media only screen and(max-width: 768px){
	.top {
		.logo, .nav {
			text-align: center;
			font-size: 1rem;
			height: 60px;

			img {
				width: 190px;
			}
		}

		.nav {
			padding-top: 24px;
		}
	}

	.slider-container {
		h2 {font-size: 22/$baseFontsize+rem;}
		p {font-size: 12/$baseFontsize+rem;}
	}

	.slider-item {
		padding: 0 20px;
	}

	.modal-content { 
		width: 90%;
	}


}

@media only screen and(max-width: 658px){
	.top {
		.logo, .nav {
			font-size: .8rem;
			padding-left: 0;
		}

		.nav {
			height: auto;
			padding-bottom: 10px;
		}
	}

	.slider-container {
		figure {display: none;}
		header {width: 100%;}
	}

	.footer {
		text-align: center;
		font-size: 1.2rem;

		h4 {
			font-size: 1.5rem;
			margin: 30px 0 8px;
		}

		.row {
			> div:first-of-type {
				h4 {
					margin-top: 5px;
				}
			}
		}

	}

	.auth-panel {
		h2 {
			font-size: 24/$baseFontsize+rem;
		}
	}

	.panel-title-header {
		text-align: center;
		padding: 20px 0;
	}
	.panel-title {
		font-size: 24/$baseFontsize+rem;
	}

	h1.panel-title {
		margin-bottom: 32px;
		padding-top: 25px;
	}

	h2.panel-title {
		font-size: 14/$baseFontsize+rem;
	}

	.panel-user {
		font-size: 12/$baseFontsize+rem;
		position: absolute;
		right: 50%;
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		top: -10px;
	}

	.credits-panel, .faq-panel {
		height: 43px;
		h3 {
			font-size: 10/$baseFontsize+rem;
			padding: 10px;
			-webkit-background-size: 18px auto;
			background-size: 18px auto;
			background-position: 98.8% 6px;
			overflow: hidden;

			.general-value {
				font-size: 20/$baseFontsize+rem;
				top: -6px;
			}
		}

		&:hover, &.act {
			h3 {
				background-position: 98.8% -48px;
			}
		}
	}

	.panel-item-name, .panel-item-value {
		height: 30px;
	}

	.link-action {
		height: auto;
	}

	.recomm-slider {
		h4,h5 {
			font-size: 12/$baseFontsize+rem;
		}
	}

	.recomm-large-value, .recomm-value-step {
		font-size: 27/$baseFontsize+rem;
	}

	.btn-tab {
		width: 45.5%;
		margin-right: 7%;

		&:last-of-type, &:nth-of-type(even) {
			margin-right: 0;
		}

		.form-input-btn {
			height: 40px;
		}
	}



}

@media only screen and(max-width: 480px){
	.auth-panel {
		.form-input-border, .credits-panel, .faq-panel {
			margin: 20px auto 5px;
			float: none;
			display: inline-block;
		}

		.col-xs-6 {
			width: 100%;
			float: none;
		}

		.row {
			margin: 10px 0 0;
		}

	}

	.recomm-slider {
		h4,h5 {
			font-size: 10/$baseFontsize+rem;
		}

		h5 {
			padding-top: 5px;
		}
	}

	.recomm-large-value, .recomm-value-step {
		font-size: 15/$baseFontsize+rem;
	}

	.col-action {
		margin-left: 0;

		&:nth-of-type(even) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.recomm-task {
		span, a {
			float: none;
			display: block;
			text-align: center;
			margin: 11px 0;
		}
	}

	.btn-tab {
		width: 100%;
		margin-right: 0;
	}
}
