@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext');
$fontFamilyBase: 'Open Sans';
$baseWidth: 1176px;
$lightColor: #fff;
$lightGreyColor: #f5f5f5;
$decorColor: #453951;
$decorColorLight: #6a6174;
$navLinkColor: #666;
$navLinkColorActive: #333;
$navLinkDecorationLineColor: #ea623d;
$darkTitle: #333;
$defaultTextColor: #666;
$lightGreyColorFont: #999;
$greyColor: #ccc;
$icoSpaceBackground: #ea623d;
$baseViolet: #8f8897;
$darkFooter: #2a272e;
$footerDecorTextColor: #555258;