$navLinkColor: #000;

@for $i from 1 through 10 {
    .x-w-#{$i*10} {
        width: $i * 10%;
    }

    .x-fb-#{$i*10} {
        flex-basis: $i * 10%;
    }
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.x-right {text-align: right;}
.x-left {text-align: left;}
.x-mob {display: none;}
.x-btn {
    border: 0;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.x-m-top {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;

    img {
        max-width: 120px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.x-m-nav {
    color: $navLinkColor;
    
    &__link {
        color: $navLinkColor;
        transition: all .3s;
        text-decoration: none;
        display: inline-block;
        margin: 0 6px;
    
        &:hover, &:active {
            text-decoration: none;
            color: lighten($navLinkColor, 90%);
        }
    }
}

@media (max-width: 1024px) {
    .x-mob {
        display: block;
        &.x-btn {
            position: fixed;
            right: 18px;
            top: 18px;
            cursor: pointer;
        }
    }

    .x-m-nav {
        display: none;
    }
}

